@media screen and (min-width: 767px) {
    .container {
        // --container-width: 95%;

        .landing-form {
            width: 484px;
            margin: 80px auto 0;
            padding: 60px;
        }
    }
}
