.hero {
    .container {
        .row {
            margin: 0;
        }
    }
    .hero-info {
        .heading {
            font-size: 5.2rem;
            font-weight: 800;
            line-height: 1.2;
            span {
                font-size: 4.4rem;
                line-height: 2;
            }
        }
        .desc {
            width: 539px;
            margin-top: 32px;
        }
    }
    .hero-media {
        padding: 0 !important;
        .background {
            border-radius: 20px 0 0 20px;
            display: flex;
            align-items: center;
            width: 50vw;
            height: 850px;
            background: #dcffca;
            position: relative;
            img {
                position: relative;
                left: -15.3%;
            }
            span {
                position: absolute;
                font-weight: 800;
                font-size: 18rem;
                color: #226000;
                opacity: 0.15;
                top: 7.1%;
                left: calc(100% - 3.4%);

                transform-origin: top left;
                transform: rotate(90deg);
                line-height: 1;
            }
        }
    }
}
@media screen and (max-width: 1799px) {
    .hero {
        .hero-media {
            .background {
                img {
                    width: 780px;
                    left: -16%;
                }
                span {
                    left: calc(100% - 2%);

                    font-size: 17rem;
                }
            }
        }
    }
}
@media screen and (max-width: 1599px) {
    .hero {
        .hero-media {
            .background {
                height: 650px;
                img {
                    width: 650px;
                    left: -15%;
                }
                span {
                    left: calc(100% - 2.4%);

                    font-size: 14rem;
                }
            }
        }
    }
}

@media screen and (max-width: 1399px) {
    .hero {
        .hero-media {
            .background {
                height: 650px;
                img {
                    left: -25%;
                }
                span {
                    left: calc(100% - 2.4%);

                    font-size: 14rem;
                }
            }
        }
        .hero-info {
            margin-top: -50px;
            .heading {
                font-size: 5rem;
                span {
                    font-size: 3.5rem;
                }
            }
            .desc {
                margin-top: 25px;
                font-size: 1.5rem;
                width: 460px;
            }
        }
    }
}
@media screen and (max-width: 1199px) {
    .container {
        --container-padding: 30px;
    }
    .hero {
        .hero-media {
            .background {
                height: 600px;
                img {
                    left: -26%;
                }
                span {
                    top: 15%;
                    font-size: 12rem;
                }
            }
        }
        .hero-info {
            .heading {
                font-size: 4rem;
                span {
                    font-size: 3rem;
                }
            }
            .desc {
                margin-top: 25px;
                font-size: 1.5rem;
                width: 90%;
            }
        }
    }
}
@media screen and (max-width: 991px) {
    .hero {
        .hero-media {
            .background {
                height: 450px;
                img {
                    left: -20%;
                }
                span {
                    font-size: 8rem;
                }
            }
        }
        .hero-info {
            .heading {
                font-size: 3.5rem;
                span {
                    display: inline-block;
                    line-height: 1.2;
                    font-size: 2.2rem;
                    margin-bottom: 10px;
                }
            }
            .desc {
                font-size: 1.4rem;
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .container {
        --container-padding: 20px;
    }
    .hero {
        .hero-media {
            .background {
                flex-direction: column;
                justify-content: space-evenly;
                img {
                    margin-top: -50px;
                    position: static;
                }
                span {
                    position: static;
                    font-size: 6rem;
                    margin-top: -50px;
                    transform: rotate(0);
                }
            }
        }
        .hero-info {
            margin-top: 50px;
            .heading {
                font-size: 2.8rem;
                span {
                    display: inline-block;
                    line-height: 1.2;
                    font-size: 1.7rem;
                    margin-bottom: 10px;
                }
            }
            .desc {
                width: 100%;
                margin-top: 25px;
            }
        }
    }
}
@media screen and (max-width: 575px) {
    .hero {
        .hero-media {
            .background {
                border-radius: 20px;
                width: 100%;
                height: 650px;
                span {
                    font-size: 8rem;
                }
            }
        }
        .hero-info {
            text-align: center;
            .heading {
                font-size: 3.8rem;
                span {
                    display: inline-block;
                    line-height: 1.2;
                    font-size: 2.8rem;
                    margin-bottom: 20px;
                }
            }
            .desc {
                margin: 30px auto;
                line-height: 1.4;
            }
        }
    }
}
